<!DOCTYPE html>
<html>

<body>

    <h2>JavaScript Variables</h2>

    <p>In this example, x, y, and z are variables.</p>

    <img id="demo"></img>

    <script>
        var x = 5;
        var y = 6;
        var z = x + y;
        var chartObj = {
            type: 'bar',
            data: {
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        }
        const myFormatterFunction = function (value) {
            return "$" + value
        };
        const chartStr = JSON.stringify(chartObj).replace('""', myFormatterFunction.toString());
        document.getElementById("demo").src =
            "https://quickchart.io/chart?bkg=white&c=" + encodeURIComponent(chartStr);
    </script>

</body>

</html>