<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
</head>

<body>

    <div class="reportGraph" style="width: {{data.width| default(500)}}px;height: {{data.height| default(500)}}px;">
        <canvas style="width: 100%;height: 100%" id="canvas"></canvas></div>

    <script type="text/javascript">
        // wkhtmltopdf 0.12.5 crash fix.
        // https://github.com/wkhtmltopdf/wkhtmltopdf/issues/3242#issuecomment-518099192
        (function (setLineDash) {
            CanvasRenderingContext2D.prototype.setLineDash = function () {
                if (!arguments[0].length) {
                    arguments[0] = [1, 0];
                }
                // Now, call the original method
                return setLineDash.apply(this, arguments);
            };
        })(CanvasRenderingContext2D.prototype.setLineDash);
        Function.prototype.bind = Function.prototype.bind || function (thisp) {
            var fn = this;
            return function () {
                return fn.apply(thisp, arguments);
            };
        };
        var chartData = {
            type: "bar",
            data: {
                datasets: [{
                    data: {{  data.set_l | toJson  }},
                    label: '{{  data.set_l_label }}',
                    type: 'line',
                    lineTension: 0.3,  
                    borderColor:'{{  data.set_l_color|defaultConfig("colors.primary") }}',
                    fill: false,

                    // This binds the dataset to the left y axis
                    yAxisID: "left-y-axis",
                }, {
                    data: {{  data.set_r | toJson }},
                    label: '{{  data.set_r_label }}',
                    backgroundColor: '{{  data.set_l_color|defaultConfig("colors.secondary")}}',
                    // This binds the dataset to the right y axis
                    yAxisID: "right-y-axis",
                    
                }],
                labels: {{  data.labels | toJson }},
            },
            options: {
                animation: false,
                scales: {
                    yAxes: [{
                        id: "left-y-axis",
                        position: "left",
                        {% if data.set_l_title %}
                        scaleLabel: {
                            display: true,
                            labelString: '{{  data.set_l_title }}'
                        },
                        {% endif %}
                        ticks: {
                            beginAtZero: {{  data.beginAtZero | default('false') }}
                        },
                    }, {
                        id: "right-y-axis",
                        position: "right",
                        {% if data.set_r_title %}
                        scaleLabel: {
                          display: true,
                          labelString: '{{  data.set_r_title }}'
                        },
                        {% endif %}
                        ticks: {
                            beginAtZero: {{  data.beginAtZero | default('false') }}
                        },
                    }],
                },
            },
        }

        function drawGraphs() {
            var chart = document.getElementById("canvas")
            new Chart(chart, chartData);
        }
        window.onload = function () {
            drawGraphs();
        };

    </script>
</body>

</html>